S3method(print,limpid_db)
S3method(print,limpid_validation)
S3method(print,limpid_model)
S3method(predict,limpid_model)
export(aitchison_distance)
export(analyse_morphology)
export(analyse_polymers)
export(analyse_size_distribution)
export(build_model_data)
export(calculate_risk)
export(check_database)
export(classify_hotspots)
export(clean_mp_data)
export(clr_transform)
export(composition_closure)
export(convert_mp_units)
export(cross_validate_mp)
export(limpid_citation)
export(limpid_session_info)
export(limpid_tables)
export(load_limpid)
export(map_mp_hotspots)
export(model_mp_abundance)
export(plot_depth_profile)
export(plot_lake_map)
export(plot_morphology_profile)
export(plot_polymer_profile)
export(plot_seasonality)
export(predict_mp)
export(provenance_summary)
export(summarise_abundance)
export(validate_mp_data)
importFrom(stats,setNames)